Repository dfpc-coe/CloudTAK, pull requests merged in 2025-09, with the labels that each got.

#886 Fix Cursor State
  api/web/src/stores/modules/draw.ts
Labels: web-frontend-map, web-frontend

#891 Add IconMountain & Check for DEM
  api/web/src/components/CloudTAK/Map.vue
Labels: web-frontend-map, web-frontend

#892 Update Default Memory to 256
  api/routes/connection-layer.ts
  api/test/connection-layer.srv.test.ts
Labels: Priority: High

#893 Import Impersonate
  api/package-lock.json
  api/routes/import.ts
  api/routes/marti-video.ts
  api/web/src/base/subscription.ts
  api/web/src/components/Admin/AdminImports.vue
  api/web/src/components/CloudTAK/Menu/MenuFiles.vue
  api/web/src/workers/atlas-database.ts
Labels: Priority: High

#896 Vector Tile Feature ID
  api/web/package-lock.json
  api/web/src/base/cot.ts
  api/web/src/components/CloudTAK/Map.vue
  api/web/src/components/CloudTAK/util/Share.vue
  api/web/src/components/CloudTAK/util/ShareToPackage.vue
Labels: web-frontend-map, Priority: High, web-frontend

#899 Alarms
  api/lib/aws/lambda.ts
  api/lib/models/Layer.ts
  api/lib/schema.ts
  api/migrations/0123_far_cassandra_nova.sql
  api/migrations/0124_sturdy_true_believers.sql
  api/migrations/0125_huge_cardiac.sql
  api/migrations/meta/0124_snapshot.json
  api/migrations/meta/0125_snapshot.json
  api/migrations/meta/_journal.json
  api/routes/connection-layer.ts
  api/routes/layer-template.ts
  api/test/connection-layer.srv.test.ts
  api/web/package-lock.json
  api/web/src/components/ETL/Layer.vue
  api/web/src/components/ETL/Layer/LayerAlarm.vue
  api/web/src/components/ETL/Layer/LayerDeployment.vue
  api/web/src/components/ETL/Layer/LayerIncomingConfig.vue
  api/web/src/main.ts
Labels: Priority: High

#905 Map Diff Updates
  api/web/src/base/cot.ts
  api/web/src/components/CloudTAK/CoTView.vue
  api/web/src/components/CloudTAK/Map.vue
  api/web/src/stores/map.ts
  api/web/src/stores/modules/draw.ts
  api/web/src/workers/atlas-database.ts
  api/web/src/workers/atlas-profile.ts
Labels: Priority: High, web-frontend

#847 Enhanced Search and Weather Functionality
  api/Dockerfile
  api/lib/config.ts
  api/lib/control/tilejson.ts
  api/lib/esri/types.ts
  api/lib/search.ts
  api/lib/search/agol.ts
  api/lib/search/arcgis-config.ts
  api/lib/search/arcgis-token-manager.ts
  api/lib/search/types.ts
  api/lib/weather.ts
  api/package-lock.json
  api/routes/config.ts
  api/routes/search.ts
  api/test/fixtures/get_schema.json
  api/test/iconsets.srv.test.ts
  api/test/search.srv.test.ts
  api/test/search.test.ts
  api/web/package-lock.json
  api/web/package.json
  api/web/src/App.vue
  api/web/src/components/Admin/AdminConfig.vue
  api/web/src/components/CloudTAK/Menu/MenuIconset.vue
  api/web/src/components/CloudTAK/Menu/MenuRoutes.vue
  api/web/src/components/CloudTAK/Menu/MenuRoutesNew.vue
  api/web/src/components/CloudTAK/Query/Reverse.vue
  api/web/src/components/CloudTAK/Query/Weather.vue
  api/web/src/components/CloudTAK/QueryView.vue
  api/web/src/components/CloudTAK/util/Coordinate.vue
  api/web/src/components/CloudTAK/util/LineLength.vue
  api/web/src/components/CloudTAK/util/PolygonArea.vue
  api/web/src/components/CloudTAK/util/PropertyBearing.vue
  api/web/src/components/CloudTAK/util/PropertyDistance.vue
  api/web/src/components/CloudTAK/util/PropertyElevation.vue
  api/web/src/components/CloudTAK/util/PropertySpeed.vue
  api/web/src/components/CloudTAK/util/SearchBox.vue
  api/web/src/derived-types.d.ts
  api/web/src/types.ts
  docker-compose.yml
Labels: web-frontend-map, mapping, styling

#907 Fix Connection Sorting
  api/web/src/components/Admin/AdminConnections.vue
Labels: web-frontend-admin, web-frontend

#909 Video Wall Improvements
  api/web/src/components/CloudTAK/MainMenu.vue
  api/web/src/components/VideoWall/Main.vue
  api/web/src/types.ts
Labels: Priority: Low

#918 Add Basemap Selection Indicator
  api/web/src/components/CloudTAK/Menu/MenuBasemaps.vue
Labels: web-frontend-map, web-frontend

#930 Set CPU/Memory Size as Parameter
  bin/build.js
  cloudformation/lib/api.js
  cloudformation/lib/events.js
Labels: infrastructure

#933 Filter By Basemap Type
  api/routes/basemap.ts
  api/web/src/components/CloudTAK/Menu/MenuBasemaps.vue
Labels: web-frontend-map

#935 Range Rings
  api/web/src/components/CloudTAK/CoTView.vue
  api/web/src/components/CloudTAK/DrawTools.vue
  api/web/src/components/CloudTAK/RangeRingsInput.vue
  api/web/src/components/CloudTAK/util/PropertyDistance.vue
Labels: web-frontend-map, web-frontend

#967 Cot Selection
  api/web/package-lock.json
  api/web/src/components/CloudTAK/CoTView.vue
  api/web/src/components/CloudTAK/util/FeatureIcon.vue
  api/web/src/components/CloudTAK/util/PropertyType.vue
Labels: web-frontend-map, web-frontend

#969 Update Data Sync Layers Modal
  api/index.ts
  api/lib/limits.ts
  api/package-lock.json
  api/routes/marti-mission-layers.ts
  api/routes/marti-mission.ts
  api/web/package-lock.json
  api/web/src/base/cot.ts
  api/web/src/base/subscription.ts
  api/web/src/components/CloudTAK/CoTView.vue
  api/web/src/components/CloudTAK/Menu/MenuMission.vue
  api/web/src/components/CloudTAK/Menu/Mission/MissionContents.vue
  api/web/src/components/CloudTAK/Menu/Mission/MissionLayerCreate.vue
  api/web/src/components/CloudTAK/Menu/Mission/MissionLayerTree.vue
  api/web/src/components/CloudTAK/Menu/Mission/MissionLayers.vue
  api/web/src/components/CloudTAK/util/PropertyType.vue
  api/web/src/components/CloudTAK/util/SettingsCallsign.vue
  api/web/src/components/CloudTAK/util/ShareToPackage.vue
  api/web/src/components/util/Upload.vue
  api/web/src/stores/modules/draw.ts
  api/web/src/workers/atlas-database.ts
Labels: Priority: High

#977 Update Branding
  api/lib/connection-config.ts
  api/package-lock.json
  api/routes/config.ts
  api/routes/connection.ts
  api/test/config.srv.test.ts
  api/web/src/App.vue
  api/web/src/derived-types.d.ts
Labels: web-frontend-admin

#985 Wire up Search & Slidedown
  api/routes/marti-mission.ts
  api/test/fixtures/get_schema.json
  api/web/package-lock.json
  api/web/src/components/CloudTAK/CoTView.vue
  api/web/src/components/CloudTAK/Map.vue
  api/web/src/components/CloudTAK/Menu/MenuBasemaps.vue
  api/web/src/components/CloudTAK/Menu/MenuFiles.vue
  api/web/src/components/CloudTAK/Menu/MenuIconsets.vue
  api/web/src/components/CloudTAK/Menu/MenuPackage.vue
  api/web/src/components/CloudTAK/util/SelectFeats.vue
  api/web/src/components/CloudTAK/util/Share.vue
  api/web/src/components/CloudTAK/util/ShareToMission.vue
  api/web/src/derived-types.d.ts
  package-lock.json
Labels: web-frontend

#988 Return Chain in PUT
  api/routes/ldap.ts
Labels: api-backend

#990 Mission Routes
  api/web/src/components/CloudTAK/Menu/MenuRoutes.vue
  api/web/src/components/CloudTAK/Menu/MenuRoutesNew.vue
Labels: web-frontend-map, web-frontend

#998 Admin Download
  api/routes/import.ts
  api/web/src/components/Admin/AdminImports.vue
Labels: web-frontend-admin

#1003 Data Package Import
  api/lib/data-mission.ts
  api/package-lock.json
  api/package.json
  api/routes/marti-mission.ts
  api/routes/marti-package.ts
  api/test/fixtures/get_schema.json
  api/web/TESTING.md
  api/web/package-lock.json
  api/web/package.json
  api/web/src/components/CloudTAK/Map.vue
  api/web/src/components/CloudTAK/Menu/MenuPackage.vue
  api/web/src/components/CloudTAK/Menu/MenuPackages.vue
  api/web/src/components/CloudTAK/Menu/Mission/MissionCreate.vue
  api/web/src/components/CloudTAK/util/PropertyAttachments.vue
  api/web/src/components/CloudTAK/util/PropertyCreator.vue
  api/web/src/components/CloudTAK/util/ShareToMission.vue
  api/web/src/derived-types.d.ts
  api/web/src/types.ts
  tasks/events/package-lock.json
  tasks/pmtiles/package-lock.json
Labels: Priority: High
